html,
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: rgb(129, 50, 94);
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

ul {
    color: rgb(47, 84, 85);
}

p {
    font-size: 13px;
    color: rgb(47, 84, 85);
    line-height: 2;
}

img {
    max-width: 100%;
}

section {
    border: 1px solid rgb(222, 160, 135);
    margin: 10px;
    padding: 5px;
}